name: Check go install

on:
  pull_request:
    paths:
      - '**.go'
      - go.mod
      - go.sum
  push:
    tags:
      - 'v*'

jobs:
  check-go-install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Try go install
        run: |
          if [ "${{ github.event_name }}" = "push" ]; then
            VERSION=$(git describe --tags --abbrev=0)
          else
            VERSION="latest"
          fi
          go install github.com/shinagawa-web/gomarklint@${VERSION}
