name: Check go install

on:
  push:
    branches:
      - main
    paths:
      - '**.go'
      - go.mod
      - go.sum

jobs:
  check-go-install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Try go install
        run: |
          go install github.com/shinagawa-web/gomarklint@latest
